<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.yt.TestBrowsers"/>
      <class name="com.yt.TestNGSecond"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test1">
    <classes>
      <class name="com.yt.TestNGThird"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
